.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

table {
  width: 50%;
  margin: 20px auto;
}

/* 小さな画面向けのスタイル（例：スマートフォン） */
@media (max-width: 600px) {
  table {
    width: 80%;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#product {
  background-color: #f0f0f0;
  padding: 10px;
  margin-bottom: 10px;
}

div {
  margin-bottom: 20px;
}

p {
  margin: 5px 0;
}

input {
  padding: 5px;
  margin-left: 5px;
}

span {
  font-weight: bold;
}

button {
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}
.centered-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 10px;
}

.centered-container p {
  flex: 1;
  margin: 1;
  text-align: center;
}

.centered-container input {
  flex: 2;
  margin: 1;
  text-align: center;
}